@page "/tasks"
@using BlazorDeploymentTest.Shared.ViewModels
@inject TasksViewModel TaskViewModel
<PageTitle>My Tasks</PageTitle>

<h1>Create a Task List</h1>


<table class="table"
       width="50px">
    <thead>
    <tr>
        <th>Task List</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in TaskViewModel.Tasks)
    {
        <tr>
            <td>@task</td>
        </tr>
    }
    </tbody>
</table>

<EditForm Model="TaskViewModel">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="TaskViewModel.CurrentTask" />

    <button class="btn-primary" @onclick="TaskViewModel.AddTask">@TaskViewModel.ButtonText</button>
</EditForm>





@code {

}
