@using BlazorDeploymentTest.Shared.ViewModels
@using BlazorDeploymentTest.Shared.Helpers
@inject CultureSelectorViewModel CultureSelectorViewModel
@inject IStringLocalizer<ProgramStrings> programStrings
@inject DisclaimerViewModel DisclaimerViewModel


<select class="form-select" @bind="@CultureSelectorViewModel.Culture">
    @foreach (var culture in CultureSelectorViewModel.AvailableCultures)
    {
        <option value="@culture.CultureType">@culture.Language.GetDisplayName()</option>
    }

</select>


@code {

}
